<!DOCTYPE html>
<html>

<head>
    <title>AI Tool Provider Company</title>
    <link rel="stylesheet" type="text/css" href="product1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@1,800&display=swap" rel="stylesheet">

</head>

<body>
    <!-- header -->
    <header>
        <nav>
            <div class="brand">
                <a href="home.html"><img src="img/brandname.png" alt="name"></a>
            </div>
            <ul>

                <li id="home"><a href="home.html">Home</a></li>
                <li id="about"><a href="about.html">About</a></li>
                <li id="prodcuts"><a href="#">Products <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                    <ul class="products">
                        <li><a href="">Show and Go</a></li>
                    </ul>
                </li>
                <li id="contactus"><a href="#">Contact us <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                    <ul class="contact">
                        <li><a href="tel:91 6383595092">Make a call</a></li>
                        <li><a href="mailto:sirusxai2023@gmail.com">Email us</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <!--section1  -->
    <div class="topdescrip">
        <div class="content">
            <h1>"Show and Go"</h1>
            <p>Our "Show and Go" is a Samrt attendence system product. This AI tool is a facial recognition system that
                can be used to mark attendance in a given setting. Using a camera, the tool captures images of
                individuals and compares them to a database of registered individuals. If a match is found, the system
                marks the individual as present, and if no match is found, the individual is marked as absent.
                Additionally, the tool can store the duration of time that each individual is present, allowing for more
                accurate tracking of attendance and time management. This tool could be particularly useful in settings
                where manual attendance tracking is time-consuming or prone to errors.</p>
        </div>
        <video controls>
            <source src="video/how mla works.mp4" type="video/mp4">

        </video>
    </div>
    <div class="who-we-are">
        <h1>Why This Product ?</h1>
        <p>A smart attendance system powered by AI that uses face recognition technology automates and simplifies the
            process of taking attendance. The tool can capture and match the faces of individuals with pre-existing
            images or data to identify and record attendance. This can be particularly useful in settings where
            identification is important, such as schools, universities, and workplaces.

            By using a smart attendance system with face recognition, organizations can save time and resources by
            eliminating the need for manual attendance tracking, reducing errors, and providing real-time attendance
            data. The AI-powered tool can also help to enhance security and prevent fraudulent attendance, ensuring that
            only authorized individuals are allowed access to specific areas or events.

            Overall, a clear and concise description of an AI tool that provides a smart attendance system using face
            recognition technology is crucial to help potential users and stakeholders understand the benefits and
            features of the tool and how it can improve their workflow and operations.</p>
    </div>
    <div class="tryit">
        <a href="http://127.0.0.1:8000/"target= "blank">Try It</a>
    </div>
    <div class="container">
       <div class="container-content">
        <h1>How our website work</h1><ul><li> Our website offers a smart attendance system that uses face recognition technology to accurately record attendance for students or employees. The system works by capturing an image of the individual's face and comparing it to the images stored in the system's database to identify the person.</li>

       <li> The process of using our system is simple and efficient. The user first needs to register and create an account on our website. Once the account is created, they can log in and access the attendance system.</li>
        
       <li> To mark attendance, the user needs to stand in front of the camera connected to the system, and the camera will capture their image. The system will then analyze the image to verify the identity of the individual. If the system recognizes the individual's face, their attendance will be marked automatically. In case of any discrepancy, the system will alert the user to try again.</li>
        
       <li> The system is designed to be user-friendly, and users can access their attendance records easily through their account dashboard. The system also generates reports that provide an overview of the attendance data for specific periods. The reports can be used to monitor attendance trends and identify potential issues that may need attention.</li>
        
       <li> Our website's smart attendance system is a reliable, efficient, and accurate solution for organizations looking to streamline attendance tracking. It eliminates the need for manual attendance tracking, reduces the chances of errors and fraud, and provides real-time data that can be used to make informed decisions.
       </li></ul></div>
    
       <img src="img/Project Presenation-2.png" alt="">
    </div>
    <div class="container">
        <div class="container-content">
            <h1>How our ML Algorithm work</h1><ul><li>
                The smart attendance system using face recognition technology utilizes machine learning algorithms to accurately identify and recognize individuals' faces.</li>

 <li> The machine learning algorithm used in the system is typically a Support Vector Machine (SVM), which is a deep learning algorithm used for image recognition tasks. The CNN is trained using a dataset of images of individuals' faces, which allows it to learn the unique features and patterns of each face.</li>

 <li>The training process involves feeding a large number of images of faces into the SVM, along with their corresponding labels, indicating which individual the face belongs to. The CNN then learns to extract the relevant features from each image and use those features to identify the individual.</li>

<li> Once the model is trained, it can be used for face recognition tasks in the smart attendance system. When an individual stands in front of the camera, the model captures an image of their face and extracts the relevant features. It then compares these features to the features of the faces stored in the system's database to identify the individual.</li>
<li>
The accuracy of the face recognition system quality of the dataset used to train the Model came Very high. A larger and more diverse dataset can lead to better accuracy as it allows the algorithm to learn from a wider range of facial features and variations.</li>
<li>
Overall, the machine learning algorithm used in the smart attendance system using face recognition technology is a powerful tool that allows the system to accurately and efficiently identify and record individuals' attendance.</li>
</ul>
        </div>
        <img src="img/Project Presenation-3.png" alt="">
    </div>
    <footer>
        <p>Visit us at :-</p>
        <div class="link">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-solid fa-phone"></i>
        </div>
    </footer>
</body>

</html>